* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
}

.edge {
  font-family: 'Love Ya Like A Sister', cursive;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
}

header .edge {
  border-bottom: 5px dashed grey;
  padding-left: 2%;
  font-size: 55px;
}

.row {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  width: 1000px;
  z-index: 99;
}

.item {
  width: 33%;
  height: 372px;
  display: inline-block;
  position: relative;
  background-size: cover;
}

.row .item:first-of-type {
  background-image: url("../img/pd1.jpg");
}

.item:first-child + .item {
  background-image: url("../img/pd2.jpg");
}

.row .item:last-child {
  background-image: url("../img/pd3.jpg");
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.row .item:nth-child(2) .discount{
  background-color: red;
}

.favourite {
  text-align: center;
  font-size: 20px;
  color: red;
  position: absolute;
  bottom: 15px;
  display: none;
  width: 100%;
}

.item:hover .favourite {
  display: block;
}

footer .edge {
  border-top: 5px dashed grey;
  padding-left: 85%;
  font-size: 20px;
  bottom: 0;
}
