* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.item {
  width: 33%;
  display: inline-block;
  position: relative;
  background-color: #eee;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.row .item:nth-child(2) .discount{
  background-color: red;
}
